# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.venv/
*.env
*.env.*

# Logs
*.log

# macOS
.DS_Store

# Node.js
node_modules/

# IDEs
.vscode/
.idea/
*.swp

# Build
build/
dist/
*.egg-info/

# Docker
docker-compose.override.yml
